{% extends "main.html" %}

{% block title%}Challenge{% endblock %}

{% block content %}
  <h1>Challenge</h1>

  <section id="challenge">
    <dl id="definition">
      <dt>{{ challenge.word }}</dt>
      <dd>{{ challenge.class }}</dd>
      <dd>{{ challenge.definition }}</dd>
    </dl>

    {% if let Some(score) = challenge.score %}
      <p>Score: {{ score }}</p>
    {% endif %}
    {% if let Some(answer) = challenge.answer %}
      <p>Answer: {{ answer }}</p>
    {% endif %}
    {% if let Some(corrected) = challenge.corrected_answer %}
      <p>Corrected: {{ corrected }}</p>
    {% endif %}
  </section>
{% endblock %}
