{% extends "main.html" %}

{% block title%}Challenges{% endblock %}

{% block content %}
  <h1>Challenges</h1>

  <form action="/challenges/new" method="POST">
    <label for="word_id">Word:</label>
    <select id="word_id" name="word_id">
      {% for word in words %}
        <option value="{{ word.id }}">{{ word.word }}</option>
      {% endfor %}
    </select>

    <button type="submit">Create</button>
  </form>

  <section id="challenges">
  <table id="challenge-list">
    <thead>
      <tr>
        <th>Word</th>
        <th>Score</th>
        <th>Created</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
    {% for challenge in challenges %}
      <tr>
        <td>{{ challenge.word }}</td>
        <td>
        {% if let Some(score) = challenge.score %}
          {{ score }}
        {% endif %}
        </td>
        <td>{{ challenge.created_at }}</td>
        <td>{{ challenge.updated_at }}</td>
        <td><a href="/challenges/{{ challenge.id }}">View</a><a>Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </section>
{% endblock %}
