{% extends "main.html" %}

{% block title%}Train{% endblock %}

{% block content %}
<h1>All Words</h1>

<form hx-get="/words" hx-target="#words-list" hx-push-url="true">
  <label for="search">Search:</label>
  <input id="search" type="text" name="search" value="{{ search }}" />
  <button type="submit">Search</button>
</form>

<form hx-post="/words/new" hx-target="#words-list" hx-swap="outerHTML">
  <label for="word">Word:</label>
  <input id="word" name="word" type="text"></input>

  <label for="class">Class:</label>
  <select id="class" name="class">
    <option value="noun">Noun</option>
    <option value="verb">Verb</option>
  </select>

  <label for="def">Definition:</label>
  <textarea id="def" name="definition"></textarea>

  <label for="example">Example:</label>
  <input id="example" name="example" type="text"></input>

  <button type="submit">Create</button>
</form>

<section id="words">
  {% include "components/word-list.html" %}
</section>
{% endblock %}
