{% extends "main.html" %}

{% block title%}Train{% endblock %}

{% block content %}
<h1>All Words</h1>

<!-- Search form
<form hx-post="/words" hx-target="#words-list">
  <label for="search">Search:</label>
  <input id="search" type="text" name="search" />
  <button type="submit">Submit</button>
</form> -->

<section id="words">
  <dl id="words-list">
    {% for word in words %}
    <dt>{{ word.word }}</dt>
    <dd>{{ word.class }}</dd>
    <dd>{{ word.definition }}</dd>
    {% endfor %}
  </dl>
</section>
{% endblock %}
