{% extends "main.html" %}

{% block title%}Train{% endblock %}

{% block content %}
<h1>All Words</h1>

<!-- Search form
<form hx-post="/words" hx-target="#words-list">
  <label for="search">Search:</label>
  <input id="search" type="text" name="search" />
  <button type="submit">Submit</button>
</form> -->

<form action="/words/new" method="post">
  <label for="word">Word:</label>
  <input id="word" name="word" type="text"></input>

  <label for="class">Class:</label>
  <select id="class" name="class">
    <option value="noun">Noun</option>
    <option value="verb">Verb</option>
  </select>

  <label for="def">Definition:</label>
  <textarea id="def" name="definition"></textarea>

  <label for="example">Example:</label>
  <input id="example" name="example" type="text"></input>

  <button type="submit">Create</button>
</form>

<section id="words">
  <dl id="words-list">
    {% for word in words %}
    <dt>{{ word.word }}</dt>
    <dd>{{ word.class }}</dd>
    <dd>{{ word.definition }}</dd>
    {% endfor %}
  </dl>
</section>
{% endblock %}
