*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

:root {
  --bg-colour: #F9F9F9;
  --text-colour: #333333;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1;

  background-color: var(--bg-colour);
  color: var(--text-colour);
}

body {
  display: grid;
  grid-template-columns: 1fr minmax(400px, 900px) 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "left head right"
    "left main right"
    "left foot right";

  max-height: 100dvh;
  line-height: 1.5;
}

.page-header {
  display: flex;
  flex-direction: column;
  grid-area: head;
}

main {
  grid-area: main;
}

.page-footer {
  grid-area: foot;
}

.page-header__nav {
  display: flex;
  gap: 0.5rem;
}

.page-header__nav li {
  all: unset;
}

.page-header__nav a {
  font-size: 1.25rem;
}


a {
  color: royalblue;
  text-decoration: underline;
}

button {
  cursor: pointer;
  border-color: lightgrey;
  border-style: solid;
  background: white;
  font-size: 1rem;
  padding: 2px 4px;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #E1E1E1;
}

th {
  text-align: left;
}

tbody {
  display: block;
  max-height: 200px;
  overflow: scroll;
}

tbody tr:nth-child(even) {
  background-color: #EFEFEF;
}

tr {
  display: grid;
  grid-template-columns: 1fr 200px 200px;
  grid-auto-rows: 1fr;
}

th,
td {
  display: flex;
  align-items: center;
  padding: 8px 12px;
}
